@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface',sans-serif;
  background: linear-gradient(90deg, #56AB2F 0%, #A8E063 98.24%);
  
}

header {
  background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/*partie concernant la fenêtre pop-up*/

.ancre {
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  color: black;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal_content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: linear-gradient(90deg, #56AB2F 0%, #A8E063 98.24%);
  padding: 1.5em 2em;
  color: #185467;
}



.modal_content > h1 {
  text-align:center;
}

.modal_content > p {
  text-align:center;
  margin:0;
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
  text-decoration: none;
}

/*fin partie fenêtre pop-up*/



/* début partie navbar*/

.main-nav {
  height: 90px;
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: left;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li:not(.push-right) {
  display: inline-block;
  margin: 0px 20px;
}

 .push-right {
  display:inline-block;
  margin-left: 1265px;
}

.navlinks li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

/*fin partie navbar*/

/*menu burger*/

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: black;
  float: left;
  position: absolute;
left: 5.64%;
right: 89.74%;
top: 2.13%;
bottom: 96.45%;
  display: none;
  cursor: pointer;
}

/*fin menu burger*/

/*section présentation avec logo, nom du site et accroche*/

.presentation {
  margin: 5% 1% 1%;
}

.logo-site, .nom-site {
  display: inline-block;
  vertical-align: middle;
  margin-left:5%;
  margin-top:1%
  
  
}

.logo-site {
  width: 450px;
  height: 450px;
}

.nom-site {
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 110px;
text-align: center;
text-decoration-line: underline;
margin:0;
padding-left: 2%;
color: #185467;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.presentation p { 

margin-left: 15%;
margin-right:15%;
font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 94px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

/*fin section présentation logo, nom du site et accroche*/

/* début section carroussel utilisant js*/

.micro-slider {
  height: 480px;
  /* margin: 10px 0; */
  position: relative;
  width: 100%;
}
.micro-slider.fullwidth {
  height: 480px;
  /* margin: 64px 0; */
}
.micro-slider.fullwidth .slider-item {
  height: 480px;
  line-height: 480px;
  width: 100%
}
.slider-wrapper {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
}
.slider-item {
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
  color: #FFF;
  display: none;
  height: 320px;
  width: 320px;
  line-height: 320px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  
  cursor: pointer;
  border-radius: 50%;
}

.imgSlider {
  border-radius: 50%;
  height: 320px;
  width: 320px;
}
/*
.slider-item:not(.active) {cursor: pointer;}
*/
.indicators {
  bottom: 0px;
  left: 50%;
  list-style-type: none;
  margin: 0 0 0 -77px;
  padding: 0;
  position: absolute;
}
.indicators li {
  color: #fff;
  float: left;
  height: 16px;
  margin-right: 8px;
  text-align: center;
  width: 16px;
}
.indicators li:last-child {margin: 0;}
.indicators a {
  background: #FFF;
  border-radius: 8px;
  border: 1px solid #E6E9EC;
  color: #FFF;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.indicators .active a {background: #E6E9EC;}
.s1 {background: #3f51b5;}
.s2 {background: #448aff;}
.s3 {background: #03a9f4;}
.s4 {background: #00bcd4;}
.s5 {background: #009688;}
.s6 {background: #4caf50;}

/*fin de la section carroussel*/

/*début footer*/

.green-wave {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.wave {
  width:1899px;
}

footer > .copyright {
  font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
color: #FFFFFF;
position: absolute;
margin-bottom: 0;
}



/* fin footer*/

/* partie avec les media query lorsque largeur page =/< à 850px*/

@media (max-width: 850px) {

  /* début partie navbar media query*/
 
  .main-nav {
    height:7vh;
  }
  .navlinks {
    position: fixed;
    width: 100%;
    height: 55vh;
    text-align: center;
    transition: all 0.5s;
    right: 100%;
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    top:7vh;
    z-index:1;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
  }

  .navlinks li {
    display: flex;
    flex-direction:column;
    margin: auto;
    width: 50%;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  /* fin partie navbar media query*/

  /* début partie menu burger media query*/

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }

  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }

/* fin partie menu burger media query*/

/* début partie section présentation media query*/

  .logo-site, .nom-site {
    display: inline-block;
    vertical-align: middle; 
  }

  .logo-site {
    width:120px;
    height:120px;
  }

  .nom-site {
    width:217px;
    height:85px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #185467;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

    .presentation p {
  
    width: 100%;
    height: 54px;
    margin:0;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    }

     /* fin partie section présentation media query*/

      /* début partie footer media query*/

    .wave {
      width: 100%;
      height: 91px;
      position:absolute;
      bottom:0;
    }

    footer > .copyright {   
    
    width: 159px;
    height: 22px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    position:absolute;
    bottom:15px;
    }
  }

  

 /* début partie footer media query*/

/* fin partie avec les media query lorsque largeur page =/< à 850px*/